---
layout: default
title: Home
---

<!-- Show last 5 posts here -->
{% for page in paginator.posts %}
{% assign post = page %}
{% assign category = site.my_categories | where: "slug", post.category %}
{% assign category = category[0] %}
{{post.category}}
{% if category %}
    {% capture category_content %}<a class="label bg-orange" href="{{ category.url }}" style="background-color:{{ category.color }}">{{ category.name }}</a>{% endcapture %}
{% endif %}

{% if post.tags.size > 0 %}
    {% capture tags_content %} with <span class="icon-price-tag{% if post.tags.size > 1 %}s{% endif %}"></span>: {% endcapture %}
    {% for post_tag in post.tags %}
        {% assign tag = site.my_tags | where: "slug", post_tag %}
        {% if tag %}
            {% assign tag = tag[0] %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.url }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% endif %}

    {% assign body = page.content %}
    {% include post.html needLink=true categoryContent=category_content tagsContent=tags_content %}
{% endfor %}
<!--
    {% for post in paginator.posts %}
    <article class="w-100 bb b--black-10 cf ph3 ph5-ns pv5">
        <header class="fn fl-ns w-40-ns pr4-ns">
            <h1 class="f2 lh-title mb3 mt0 pt3 bt bw1 b--orange normal hide-child">
                <a class="link black" href="{{site.baseurl}}{{post.url}}">
                    {{ post.title }}
                    <span class="f3 child orange"><i class="fa fa-link" aria-hidden="true"></i></span>
                </a>
            </h1>
            <h2 class="f3 mid-gray lh-title normal">
                {{ post.excerpt }}
            </h2>
            <time class="f6 ttu tracked gray" datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time>
            <span class="category">{{ post.categories | category_links }}</span><br/>
            <span class="author">{% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
        </header>
        <div class="fn fl-ns w-60-ns f5 lh-copy mt0-ns">
            {{post.content}}
        </div>
	</article>
{% endfor %}
-->


<div id="paginator">
    {% if paginator.next_page %}
            <a href="{{site.baseurl}}/page{{paginator.next_page}}">
            &laquo; Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
                <span class="more">
                <a href="{{site.baseurl}}/">
                Newer Posts &raquo; </a>
                </span>
        {% else %}
                <span class="more">
                <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
                Newer Posts &raquo; </a>
                </span>
        {% endif %}
    {% endif %}
</div>
