{% assign cat = site.my_categories | where: "slug", page.category %}
{% assign cat = cat[0] %}

{% if post.tags.size > 0 %}
    {% capture tags_content %} with <span class="icon-price-tag{% if post.tags.size > 1 %}s{% endif %}"></span>: {% endcapture %}
    {% for post_tag in post.tags %}
        {% assign tag = site.my_tags | where: "slug", post_tag %}
        {% if tag %}
            {% assign tag = tag[0] %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.url }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% endif %}

<article class="w-100 bb b--black-10 cf ph3 ph5-ns pv5">
    <header class="fn fl-l w-40-l pr4-ns">
        <h1 class="f2 lh-title mb3 mt0 pt3 bt bw1 b--orange normal hide-child" style="border-color: {{ cat.color }}">
          {% if include.needLink == null %}
            {{ page.title }}
          {% else %}
            <a class="link black" href="{{site.baseurl}}{{page.url}}">
                {{ page.title }}
                <span class="f3 child orange" style="color: {{ cat.color }}"><i class="fa fa-link" aria-hidden="true"></i></span>
            </a>
          {% endif %}
        </h1>
        <h2 class="f3 mid-gray lh-title normal">
            {{ page.excerpt }}
        </h2>
        <time class="f6 ttu tracked gray" datetime="{{post.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time><br />
        <small>{{ tags_content }}</small>
    </header>
    <div class="fn fl-l w-60-l f5 lh-copy mt0-ns">
        {{page.content}}
    </div>
</article>
